<div ng-controller="homeController" data-ng-init="vm.init()">
    <div class="main-banner">
        <div class="banner col-md-8">
            <div id="carouselHomePage" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li style="margin-left: 5px;" data-target="#carouselHomePage" ng-repeat="data in vm.marketing" data-slide-to="{{$index}}" ng-class="($index==0?'active':'')"></li>
                </ol>

                <div class="carousel-inner" role="listbox">
                    <div ng-repeat="data in vm.marketing" ng-class="($index==0?'item active': 'item')">
                        <img ng-src="{{data.photo}}" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 banner-right">
            <div class="grid_3 grid_5" style="height: 350px;" layout="column">
                <div class="desc">
                    <h2 id="titleMarketing"></h2>
                    <p id="descMarketing"><br><br></p>
                </div>
                <div flex></div>
                <div>
                    <button class="checkout-button" ng-click="vm.detailAdvertisement()" style="background: #07575B; padding-left: 20px; padding-right: 20px;">Detail</button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <p style="color: #003B46;font-size: 1.5em;font-weight: 600;margin-top: 2em;margin-left: 1.5%;">Movie selection</p>
    <div style="background: #fff;">
        <div style="position: relative; max-width: 100%;">
            <div style="overflow: hidden;">
                <ul class="tab_img_cus">
                    <li ng-repeat="film in vm.films|limitTo:5" style="margin: 10px; background: white; height: 420px;" ng-click="vm.detailFilm(film)">
                        <div class="view view-first" layout="column">
                            <img ng-src="{{film.photo}}" ng-click="vm.showDetailFilm(film)" class="img-responsive" alt="" style="max-width:100%; max-height:100%; cursor: pointer;" />
                        </div>
                        <div class="slide-title" style="height: 55px;">
                            <h4>{{film.name}}</h4>
                        </div>
                        <div flex></div>
                        <div class="date-city" style="height: 70px;">
                            <h5 class="ng-binding">{{film.start_time}}</h5>
                            <h6 class="ng-binding">{{film.genre}}</h6>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>